<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>summerCamp</title>
</head>

<body>
    All applications have been remove from the database. Number of applications removed:  <%- removeNum %>
</body>

</html>