<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>summerCamp</title>
</head>

<body>
    <h1>Display GFAs Greater than or Equal to</h1>
    <%- orderTable %>
    <hr>
    <a href="/">Home</a>
</body>

</html>