<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>summerCamp</title>
</head>

<body>
    <h1>Review Application</h1>
    <form action="/reviewApplication" method="post" onsubmit="return validate()">
    <fieldset>
        <span><b>Email: </b></span>
        <input type="email" id="email" name='email' value="">
    </fieldset>
    <input type="reset">
    <input type="submit" value="Submit Request" id ="submit">
    </form>
    <hr>
    <a href="/">Home</a>
</body>

</html>